<mat-card class="rounded-border">
    <mat-card-header>
        <div mat-card-avatar style="background-image: url('{{ assignment.photoAuteur }}');
        background-size: cover;"></div>
        <mat-card-title>{{ assignment.titre }}</mat-card-title>
        <mat-card-subtitle>{{ assignment.nomAuteur }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ assignment.matiere.photo }}">
    <mat-card-content class="card-body">
        <h5 class="card-title">{{ assignment.matiere.nom }}</h5>
        <p>Date de rendu : {{ assignment.dateRendu | date:'d MMMM y' : 'fr' }}</p>
        <p>Professeur : M. {{ assignment.matiere.nomProf }}</p>
    </mat-card-content>
    <mat-card-actions class="card-body justify-content-center">
        <a routerLink="/assignments/{{ assignment._id }}/edit" class="card-link">Modifier</a>
        <a href="javascript:void(0)" *ngIf="!assignment.rendu" (click)="openDialog()" class="card-link">Rendre</a>
        <a href="/assignments" (click)="deleteAssignment()" class="card-link">Suppr</a>
    </mat-card-actions>
</mat-card>