<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Tout">
        <div class="container-xxl">
            <h4 class="fw-bold pt-4">Liste de tous les Assignments</h4>
                
          
            <p>
                Régler nb par page : 
                  <input type="range" 
                          min=1 max=100 value=10 
                          [(ngModel)]="limit"
                          (change)="getAssignments()"
                  /> {{limit}}
            </p>
            <p>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="premierePage()" [disabled]="!hasPrevPage">
                    Première page
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">
                    Page Précédente
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="dernierePage()" [disabled]="!hasNextPage">
                    Derniere page
                </button>
            </p>

            <div class="row padded-list">
                <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let assign of listeAssignments">
                    <app-assignment-list-item [assignment]="assign"></app-assignment-list-item>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Rendus">
        <!-- Tab 2 content -->
        <div class="container-xxl">
            <h4 class="fw-bold pt-4">Liste des Assignments Rendus</h4>
            <p>
                Régler nb par page : 
                  <input type="range" 
                          min=1 max=100 value=10 
                          [(ngModel)]="limit"
                          (change)="getAssignments()"
                  /> {{limit}}
            </p>
            <p>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="premierePage()" [disabled]="!hasPrevPage">
                    Première page
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">
                    Page Précédente
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="dernierePage()" [disabled]="!hasNextPage">
                    Derniere page
                </button>
            </p>

            <div class="row padded-list">
                <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let assign of listeAssignments">
                    <app-assignment-list-item [assignment]="assign"></app-assignment-list-item>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Non Rendus">
        <!-- Tab 3 content -->
        <div class="container-xxl">
            <h4 class="fw-bold pt-4">Liste des Assignments Non Rendus</h4>
            <p>
                Régler nb par page : 
                  <input type="range" 
                          min=1 max=100 value=10 
                          [(ngModel)]="limit"
                          (change)="getAssignments()"
                  /> {{limit}}
            </p>
            <p>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="premierePage()" [disabled]="!hasPrevPage">
                    Première page
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">
                    Page Précédente
                </button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
                <button style="margin-right: 20px;" class="btn btn-primary" (click)="dernierePage()" [disabled]="!hasNextPage">
                    Derniere page
                </button>
            </p>
              
            <div class="row padded-list">
                <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let assign of listeAssignments">
                    <app-assignment-list-item [assignment]="assign"></app-assignment-list-item>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>