<mat-toolbar class="custom-menu custom-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <app-logo-display></app-logo-display>
    <span class="example-spacer"></span>
    <button (click)="logOut()" class="btn btn-primary">Se déconnecter</button>
</mat-toolbar>
<mat-sidenav-container class="late-start">
    <mat-sidenav #sidenav class="custom-menu" mode="side" opened="true">
        <mat-nav-list>
            <h3 matSubheader>Assignments</h3>
            <a mat-list-item routerLink="/assignments" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class='bx bx-list-ol'></i>  Liste des Assignments</a>
            <a mat-list-item routerLink="/assignments/add" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class='bx bx-list-plus' ></i>  Ajout d'un Assignment</a>
            <h3 matSubheader>Matières</h3>
            <a mat-list-item routerLink="/matieres" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class='bx bx-folder-open'></i>  Liste des Matières</a>
            <a mat-list-item routerLink="/matieres/add" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class='bx bx-pencil' ></i>  Ajout d'une Matière</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="contenu-page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>